* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  min-height: 100vh;
  border: 5px dashed red;
}

.navbar {
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
}

h1 {
  color: white;
  flex: 1;
  text-align: right;
  margin: 0px;
}

.jum {
  min-height: 100vh;
}

.jum, .row {
  min-height: 100%;
  width: 100%;
  margin: 0px;
}

#left-content {
  height: 100%;
  width: 0px;
  background-color: #ebebeb;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  transition: 0.4s;
  box-sizing: border-box;
}

#left-content input {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px;
  padding-left: 5%;
  border: 0.5px solid black;
  border-left: none;
  border-radius: 1px;
  font-size: 1.2em;
}

#left-content button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0px;
  color: white;
  background-color: #444444;
  white-space: nowrap;
  font-size: 1.2em;
}

#left-content ul {
  width: 100%;
  height: 60%;
  margin-top: 15px;
  overflow: scroll;
  padding: 0px;
}

#left-content ul li {
  width: 100%;
  margin: 0px;
  cursor: pointer;
  list-style: none;
}

#left-content ul li:hover {
  background-color: #333333;
  color: white;
}

#left-content ul li h4 {
  padding: 10px 0px;
  margin: 5px 0px;
  margin-left: 10%;
}

input {
  outline: none;
}

#right-content {
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#right-content #todo-container {
  height: 40vh;
  overflow-y: scroll;
  border: 0.5px solid black;
  border-radius: 5px;
}

#right-content #todo-container .todo-task {
  padding: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
  border: 0.5px solid black;
}

#right-content #todo-container .todo-task h3 {
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
}

#right-content #todo-container .todo-task .check-box {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 30px;
  cursor: pointer;
  user-select: none;
}

#right-content #todo-container .todo-task .check-box .checkTask {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#right-content #todo-container .todo-task .check-box .checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-box input:checked ~ .checkmark:after {
  display: block;
}

.check-box .checkmark:after {
  left: 7px;
  top: 0px;
  width: 10px;
  height: 17px;
  border: solid green;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.make-task {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.make-task * {
  width: 100%;
}

.make-task input {
  padding: 10px 0px;
  padding-left: 5%;
  border: 0.5px solid black;
  border-radius: 1px;
  font-size: 1.2em;
}

.make-task button {
  margin-top: 5px;
  padding: 10px 0px;
  color: white;
  background-color: #444444;
  white-space: nowrap;
  font-size: 1.2em;
}

@media only screen and (min-width: 992px) {
  h1 {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
